/*----------------------------------------------
                    Menu
-----------------------------------------------*/
body {
    background: lightgray !important;
}
#menu {
    position: relative;
    z-index: 50;
}
@media screen and (max-width: 1024px) and (min-height: 1000px) and (max-height: 1366px)  {

}
@media screen and (max-width: 1024px) and (min-height: 575px) and (max-height: 700px) {

}
@media screen and (max-width:768px) and (min-height: 1024px) and (max-height: 1200px) {
    #menu .toggle-button {
        width: 35px;
        height: 35px;
    }
    #menu .toggle-button .toggle {
        width: 16px;
        height: 19px;
    }
    #menu .nav-slide nav ul {
        height: 340px;
        line-height: 85px;
    }
    #menu .nav-slide nav ul:before, 
    #menu .nav-slide nav ul:after {
        height: 7px;
    }
    #menu .nav-slide nav ul li {
        display: block;
        height: 85px;
    }
}
@media screen and (max-width: 768px) and (min-height: 575px) and (max-height: 770px){
    #menu .nav-slide ul {
        height: 150px;
        line-height: 150px;
    }
    #menu .nav-slide ul li {
        height: 150px;
        padding: 0 40px;
    }
    #menu .nav-slide ul li a {
        font-size: 30px;
    }
}

@media screen and (max-width: 425px) {
    #menu .toggle-button {
        width: 35px;
        height: 35px;
    }
    #menu .toggle-button .toggle {
        width: 16px;
        height: 19px;
    }
    #menu .nav-slide nav ul {
        height: 340px;
        line-height: 0; 
        padding: 0;
    }
    #menu .nav-slide nav ul:before, 
    #menu .nav-slide nav ul:after {
        height: 7px;
    }
    #menu .nav-slide nav ul li {
        padding: 0;
        margin: 0;
        height: calc(100% / 4);
        display: inline-block;
        width: 100%;
        line-height: 85px;
    }
    /*--------media toggle button----------*/
    #menu .media-button {
        max-width: 25px;
        height: 25px;
    }
    #menu .media-button:before {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 9px solid whitesmoke;
    }
    #menu .media-button.media-active:before {
         display: none;   
    }
    #menu .media-button.media-active {
        max-width: 70px;
    }
}
@media screen and (max-width: 320px) {

}