/*-----------------Menu Item---------------*/
/*--------------------Slider-------------------*/
.nav-slide {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100vw;
    height: 100vh;
    background: rgba(24, 24, 30, 1);
    opacity: 0;
    -webkit-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
}
.active .nav-slide {
    opacity: 1;
    left: 0;
}
nav {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 100%;
}

nav ul {
    width: 100vw;
    height: 200px;
    list-style: none;
    text-align: center;
    line-height: 200px;
    padding: 0;
    margin: 0;
}
.active nav ul:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    height: 10px;
    width: 0;
    background: whitesmoke;
    animation: border-slide 0.4s 0.5s linear forwards;
}
.active nav ul:after {
    content: '';
    position: absolute;
    bottom: -10px;
    right: 0;
    height: 10px;
    width: 0%;
    background: whitesmoke;
    animation: border-slide 0.4s 0.5s linear forwards;
}
@keyframes border-slide {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
nav ul li {
    position: relative;
    display: inline-block;
    padding: 0 60px;
    height: 200px;
    -webkit-transition: 0.7s linear;
    transition: 0.7s linear;
    opacity: 0;
}
.active nav ul li {
    opacity: 1;
    -webkit-transition-delay: 1s;
    transition-delay: 1s
}
nav ul li a{
    position: relative;
    text-decoration:  none;
    font-size:  40px;
    color: whitesmoke;
    overflow: hidden;
    text-align: center;
}
nav ul li a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    visibility: hidden;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    background-color: whitesmoke;
    z-index: -1;
}
nav ul li a:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    visibility: visible;
}