/*----------------------------------------------
                Portfolio Page
-----------------------------------------------*/
#portfolio {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background:  url(../../images/autumncover.jpeg) 0 0/ cover no-repeat;
    width: 100vw;
    height: 100vh;
}

#portfolio h1 {
    text-align: center;
    color: whitesmoke;
    font-size: 50px;
    text-shadow: 0 2px 4px black;
    margin-bottom: 20px;
}

.show-case {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);    
    width: auto;
    height: auto;
    text-align: center;
}
.show-case .item {
    display: inline-block;
    width: 25%;
    margin: 1% 2.5%;
    max-height: auto;
    min-height: 120px;

}
.show-case .item img {
    max-width: 100%;
    height: auto;
}
.github-link {
    position: absolute;
    bottom: 30px; 
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5em;
}
.github-link i {
    display: inline-block;
    margin-right: 5px;
    color: white;
    text-shadow: 0 2px 4px black;
}
.github-link a {
    display: inline-block;
    color: white;
    text-shadow: 0 2px 4px black;
}
@media screen and (max-width: 1440px) and (max-height: 701px) {
    .show-case {
        position: static;
        width: 80%;
        margin: 250px auto 0 auto;

    }  
    .github-link {
        bottom: 10px;
        font-size: 1.3em;
    }
}
@media screen and (max-width: 1024px) and (min-height: 1000px) and (max-height: 1366px)  {
    
}
@media screen and (max-width: 1024px) and (min-height: 575px) and (max-height: 700px) {

}
@media screen and (max-width:768px) and (min-height: 1024px) and (max-height: 1200px) {

}
@media screen and (max-width: 768px) and (min-height: 575px) and (max-height: 770px){
    #portfolio h1 {
        font-size: 50px;
    }
}
@media screen and (max-width: 425px) {
    .show-case {
        padding: 0;
    }
    .show-case .item {
        width: 40%;
        margin: 1% 2.5%;
    }
    .github-link {
        display: block;
        text-align: center;
        font-size: 1.2em;
    }
}
@media screen and (max-width: 320px) {

}